:host {
  display: block;
  height: 100%;
  width: 100%;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

clover-viewer {
  display: block;
  height: 100%;
  width: 100%;
}

.clover-frame {
  display: block;
  border: 0;
  width: 100%;
  height: 100%;
}

.loading {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
