/* Import these here, at the top level */
@import '~@shoelace-style/shoelace/dist/themes/dark.css';
@import '~@shoelace-style/shoelace/dist/themes/light.css';

:host {
  --stanford-cardinal-red: #8f1414;
  --accent-color: var(--sl-color-primary-500);
  /* --accent-color: var(--stanford-cardinal-red); */
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: var(--sl-font-sans);
  border: var(--sl-panel-border-width) solid var(--sl-panel-border-color);
  width: 100%;
  min-height: 400px;
  height: 100%;
}

.map-container {
  position: relative;
  min-height: 400px;
  height: 100%;
}
