:host {
  --stanford-cardinal-red: #8f1414;
  --accent-color: var(--wa-color-brand-50);
  /* --accent-color: var(--stanford-cardinal-red); */
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: var(--wa-font-family-body);
  border: var(--wa-panel-border-width) solid var(--wa-color-surface-border);
  width: 100%;
  min-height: 400px;
  height: 100%;
}

.main-container {
  position: relative;
  overflow: hidden;
  min-height: 400px;
  height: 100%;
}
