wa-scroller {
  max-height: 200px;
  overscroll-behavior: none;
}

.attribute-table {
  font-family: var(--wa-font-family-code);
  font-size: var(--wa-font-size-xs);
  line-height: var(--wa-line-height-condensed);
  word-wrap: break-word;
  border-collapse: collapse;
  border-style: hidden;
  overflow: hidden;

  th,
  td {
    border: var(--wa-panel-border-width) solid var(--wa-color-surface-border);
    padding: 0.2em 0.5em;
  }

  .key {
    max-width: 50%;
    vertical-align: top;
  }

  .header,
  .value {
    word-wrap: anywhere;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;

  .count {
    flex-shrink: 0;
  }
}

.label {
  font-size: var(--wa-font-size-s);
  font-weight: var(--wa-font-weight-bold);
  overflow: hidden;
  min-width: 0;
  max-width: 40ch;
  width: 100%;
  padding: 0.2em 0.5em;
  display: flex;
  justify-content: center;

  div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

wa-button + .label {
  max-width: 30ch;
  padding: 0;
}

.count {
  flex-shrink: 0;
}
