.menubar {
  display: flex;
  align-items: center;
  gap: var(--sl-spacing-small);
  padding: var(--sl-spacing-x-small);
  background-color: var(--sl-panel-background-color);
  border-top: calc(var(--sl-panel-border-width) * 2) solid var(--accent-color);
  border-bottom: var(--sl-panel-border-width) solid var(--sl-panel-border-color);

  /* shadow above map and sidebar */
  position: relative;
  z-index: 701;
  box-shadow: 0 2px 6px 0px var(--sl-overlay-background-color);
}

/* Truncate long titles with an ellipsis */
.title {
  flex: auto;
  font-size: var(--sl-font-size-large);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-button {
  font-size: var(--sl-font-size-x-large);
}

.loading-spinner {
  font-size: var(--sl-font-size-large);
  margin: 0 var(--sl-spacing-x-small);
}
