@import '~@shoelace-style/shoelace/dist/themes/light.css';

/* No inherent padding to sidebar */
sl-drawer::part(body) {
  padding: 0;
  overflow-x: hidden;
}

/* Fixed tabs on the left side of the sidebar */
sl-tab-group::part(nav) {
  position: absolute;
  top: 0;
  height: 100%;
  border-right: var(--sl-panel-border-width) solid var(--sl-panel-border-color);
}

/* Prevent tabs from overlapping their content panels */
sl-tab-group::part(body) {
  margin-left: 2.8rem; /* width of the tab nav */
}

/* Tabs have large icons, small padding */
sl-tab::part(base) {
  padding: var(--sl-spacing-small);
}

sl-tab sl-icon {
  font-size: var(--sl-font-size-large);
}

/* Tab content with header */
sl-tab-panel::part(base) {
  padding: 0;
  margin: 0;
}

sl-tab-panel .panel-header {
  padding: var(--sl-spacing-medium);
  background: var(--sl-color-neutral-100);
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-light);
}

sl-tab-panel .panel-content {
  padding: var(--sl-spacing-medium);
  overflow-x: hidden;
}

.record-json {
  font-family: var(--sl-font-mono);
  font-size: var(--sl-font-size-x-small);
  white-space: pre-wrap;
  word-break: break-all;
}
