/* Metadata display */
.record-details {
  margin: 0;
  word-wrap: break-word;
  line-height: var(--wa-line-height-condensed);
}

.record-details .field + .field {
  margin: var(--wa-space-m) 0 0 0;
}

.record-details dt {
  font-weight: var(--wa-font-weight-bold);
  font-size: var(--wa-font-size-s);
}

.record-details dd {
  margin: var(--wa-space-xs) 0 0 0;
}

.record-details a {
  color: var(--wa-color-text-link);
}
