:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

#openseadragon {
  height: 100%;
  background-color: var(--sl-panel-background-color);
}

.controls {
  position: absolute;
  top: 0.5rem;
  right: 2.5rem;
  z-index: 1;
}
